@model IEnumerable<TrainingMVCProject.Models.Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("searchString", null, new { @class = "form-control mr-sm-2" })
        <input type="submit" value="Search" class="btn btn-light" />
    </p>}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseDescription)
        </th>
        <th>
            @Html.ActionLink("CourseFee","Index", new { sortOrder = ViewBag.CourseFeeSortParm })
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseFee)
            </td>
            <td> 
            <td>
            
                @*@if (item.TraineeAssigns.Count > 0)
                {
                    @Html.DisplayFor(modelItem => item.TraineeAssigns.ElementAt(0).Trainee.TraineeName)
                }
                else
                {
                    @Html.ActionLink("Assign", "Create", "TraineeAssigns", new { id = item.CourseID }, null)
                }*@

            </td></td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CourseID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CourseID })
            </td>
        </tr>
    }

</table>
