@model TrainingMVCProject.Models.TrainingStaff

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TrainingStaff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TStaffName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TStaffName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TStaffAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TStaffAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TStaffPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TStaffPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TStaffEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TStaffEmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TStaffID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
